.main {
    background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

  color: #ffffff;
  padding: 2em;
  text-align: left;
text-transform: uppercase;
text-align: justify;

}

.flex{
text-align: center; 
}

.logo{
width: 60vh;
margin-top: 20%;
}

.acheter{
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-color: #f06414;
  font-weight: bold;
align-self: hover; background-color: #f06414;
}

.carouselExemple {
  height: 100vh;
}


